body {
  font-family: "Open Sans", sans-serif;
}
.banner-container {
  background-color: #cacaca;
  
}
.row-b{
    height: 100vh;
}
.banner-column {
  background-color: #8d8d8d;
}
.navbar-container{
    background-color: #262B37;
}
.about-container{
  background-color: #00BDBD;
}
.education-container{
  background-color: #EEEEEE;
}
.redtype-color{
  color: #FB857F;
}
.bg-redtype-color{
  background-color: #FB857F;
}
.bg-redtype-color:hover{
  color: black!important;
}

.circle{
  background-color: #FB857F;
  color: white;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.project-contianer{
  background-color: #2191B7;
}
.gallery-container{
  background-color: gray;
}

.form-container{
  background-color: #474C5E;
}
.inner-form{
  background-color: #585F73;
}

.footer{
  background-color: #2BB3DD;
}

.circle-f{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  text-align: center;
  font-size: 40px;
  color:	#4267B2 ;
  margin-right: 10px;
  margin-bottom: 20px;
}
.circle-f:hover{
  background-color: gray;
}